body {
  font-family: "Lato", sans-serif;
  background-color: #e2e2e2;
}
.bg-primary {
  background-color: #0d2f88 !important;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 900px;
  }
}

.post-image img{
  width: 100%;
  height: 350px;
}

#postInput {
    cursor: pointer;
}
#books{
  width: 100%;
}
#postArea {
    resize: none;
}
