body{
    font-family: 'Roboto', sans-serif;
}

.img-card{
    object-fit: cover;
    height: 30rem;
    width: 40rem;
}
.lato {
    font-family: 'Lato', sans-serif;
}
.great-vibes {
    font-family: 'Great Vibes', cursive;

}
.logo-font{
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}

.link-font{
    text-decoration: none;
    color: black;
    font-size: large;
    font-family: 'ubuntu', sans-serif;

}
a:hover{
    text-decoration:none;
}

.quote {
    font-size: medium;
    font-style: italic;
    font-family: 'lato', sans-serif;
    color: gray;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.img-card-2{
    object-fit: cover;
    height: 33rem;
    width: 55rem;

}
.par-margin{
    margin-right: 45rem;
    margin-left: 3rem;
}
.foot{
    margin-top: 10rem;
    padding-bottom: 1em;
}

